.idea

hospital_management_amitkumar

product_variant_amitkumar

project_management_amitkumar

rental_management_amitkumar

website_christmas_snippets

website_diwali_snippets

service_management_amitkumar

service_management_amitkumar.zip

website_custom_form

