.categories_section {
    background: linear-gradient(135deg, #FF9933, #FFFFFF, #138808);
    padding: 100px 0;

    h1 {
        font-size: 48px;
        font-weight: bold;
    }

    p {
        font-size: 18px;
        font-weight: semi-bold;
    }
}