@keyframes fadeToWhite {
    0% { background-color: #ccffcc ; color: white ; }
    100% { background-color: white ; color: black ; }
}

.o_password_strong {
    animation: fadeToWhite 1.5s forwards;
}

.o_password_medium {
    background-color: #fff0b3 !important;
}

.o_password_weak {
    background-color: #ffcccc !important;
    color: white;
}
