.product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px;
    background: #fff;
    text-align: center;
    transition: 0.3s;
}

.product-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.product-image {
    font-size: 40px;
}

.qty-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.qty-btn {
    padding: 4px 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.qty-btn:hover {
    background: #0056b3;
}

.total-price {
    margin-top: 10px;
    font-weight: bold;
    color: green;
}

/* Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 1000;
}

.popup-overlay.active {
    opacity: 1;
    visibility: visible;
}

.popup-box {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
    height :120px;
    transform: scale(0.7);
    transition: all 0.3s ease;
}

.popup-overlay.active .popup-box {
    transform: scale(1);
}

.close-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 12px;
    border: none;
    background: #dc3545;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.close-btn:hover {
    background: #a71d2a;
}

.popup-box .close-btn:first-child {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    color: black;
    font-size: 20px;
}