.product-grid {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    width: 75%;
    /*height: 30%;*/
}

.product-card {
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 5px;
    /*display: flex;*/
    text-align: center;
    gap: 12px;

    .product-image {
        font-size: 50px;
        /*height: 80px;*/
        /*text-align: center;*/
    }

    .product-info {
        /*text-align: center;*/
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .product-name {
        /*text-align: center;*/
        display: block;
        margin-top: 20px;
        font-weight: 600;
        font-size: 20px;
        color: #333;
    }

    .product-price {
        /*text-align: center;*/
        font-size: 15px;
        color: #2e7d32;
        font-weight: 500;
    }
}
