img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Optional: define a width less than 100% */
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-text {
    display: flex;
    justify-content: right;
    align-items: right;
}

.highlight {
    background-color: #fff3cd; /* light yellow */
    color: #000;
    padding: 2px 6px;
    border-radius: 4px;
}

.my-top-bar {
    font-weight: bold;
    font-size: 14px;
}

.light-background {
    background-color: #f5fafa;
}

.site-header {
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
  display: flex;
  justify-content: space-between;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: .6em 0;
  display: inline-block;
}


.site-navigation ul,
.site-navigation li {
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}


