.custom-lavender {
  background-color: #AD97AD; /* Standard Lavender Hex */
  border: none;
}

.custom-lavender:hover {
  background-color: #BFA8BF; /* Thistle (slightly darker) for hover effect */
  color:black;
}